<!-- ==========================================================================
     SOCIAL MEDIA LINKS
     ======================================================================= -->

<div class="social-container">
  <!-- WHATSAPP -->
  <a
    href="https://wa.me/529939805654"
    target="_blank"
    rel="noopener noreferrer"
    title="WhatsApp Mersol"
  >
    <img src="assets/brand/socials/whatsapp.svg" alt="WhatsApp" />
  </a>

  <!-- FACEBOOK -->
  <a
    href="https://www.facebook.com/MersolSuresteOficial"
    target="_blank"
    rel="noopener noreferrer"
    title="Facebook Mersol"
  >
    <img src="assets/brand/socials/facebook.svg" alt="Facebook" />
  </a>

  <!-- INSTAGRAM -->
  <a
    href="https://www.instagram.com/mersolsureste/"
    target="_blank"
    rel="noopener noreferrer"
    title="Instagram Mersol"
  >
    <img src="assets/brand/socials/instagram.svg" alt="Instagram" />
  </a>

  <!-- X -->
  <a href="#" target="_blank" rel="noopener noreferrer" title="X (Twitter) Mersol - Próximamente">
    <img src="assets/brand/socials/x-twitter.svg" alt="X" />
  </a>

  <!-- TIKTOK -->
  <a
    href="https://www.tiktok.com/@mersol.sureste"
    target="_blank"
    rel="noopener noreferrer"
    title="TikTok Mersol"
  >
    <img src="assets/brand/socials/tiktok.svg" alt="TikTok" />
  </a>

  <!-- YOUTUBE -->
  <a
    href="https://www.youtube.com/@mersolsureste4375"
    target="_blank"
    rel="noopener noreferrer"
    title="YouTube Mersol"
  >
    <img src="assets/brand/socials/youtube.svg" alt="YouTube" />
  </a>

  <!-- LINKEDIN -->
  <a
    href="https://www.linkedin.com/company/mersolsureste/posts/?feedView=all"
    target="_blank"
    rel="noopener noreferrer"
    title="LinkedIn Mersol"
  >
    <img src="assets/brand/socials/linkedin.svg" alt="LinkedIn" />
  </a>
</div>
