<!-- ==========================================================================
     FEATURES STRUCTURE
     ======================================================================= -->

<section class="features-container" aria-labelledby="features-main-title">
  <div class="container">
    <!-- TITLE -->
    <header class="features-header">
      <span class="subtitle-red">{{ overline }}</span>

      <div class="main-title-wrapper">
        <h2 id="features-main-title" [innerHTML]="title"></h2>
      </div>

      <p class="header-description">{{ description }}</p>
    </header>

    <!-- FEATURES -->
    <div class="features-grid" role="list">
      @for (item of mainFeatures; track item.title) {
        <article class="feature-card" role="listitem">
          <!-- ICONS -->
          <div class="icon-wrapper">
            <span
              class="feature-icon"
              [style.mask-image]="'url(' + iconPath + item.icon + ')'"
              [style.webkitMaskImage]="'url(' + iconPath + item.icon + ')'"
              aria-hidden="true"
            ></span>
          </div>

          <!-- CONTENT -->
          <div class="feature-content">
            <h3>{{ item.title }}</h3>
            <p>{{ item.desc }}</p>
          </div>
        </article>
      }
    </div>

    <!-- FEATURES -->
    <div class="features-grid pillars-row" role="list">
      @for (pillar of pillarFeatures; track pillar.title) {
        <article class="feature-card pillar-variant" role="listitem">
          <!-- ICONS -->
          <div class="icon-wrapper">
            <span
              class="feature-icon"
              [style.mask-image]="'url(' + iconPath + pillar.icon + ')'"
              [style.webkitMaskImage]="'url(' + iconPath + pillar.icon + ')'"
              aria-hidden="true"
            ></span>
          </div>

          <!-- CONTENT -->
          <div class="feature-content">
            <h3>{{ pillar.title }}</h3>
            <p>{{ pillar.desc }}</p>
          </div>
        </article>
      }
    </div>
  </div>
</section>
