<!-- ==========================================================================
     FAQ (QUESTIONS / ANSWERS) STRUCTURE
     ========================================================================== -->

<section class="faq-section" id="preguntas" aria-labelledby="faq-title">
  <div class="container">
    <!-- TITLE -->
    <header class="section-header">
      <span class="overline">SERVICIO TÉCNICO Y SOPORTE</span>
      <div class="title-with-l-shape">
        <h2 id="faq-title" class="main-title">
          PREGUNTAS <br />
          FRECUENTES
        </h2>
      </div>
      <div class="description-container">
        <p class="description-text">
          Resolvemos tus dudas principales sobre nuestros servicios, equipos y procesos.
        </p>
      </div>
    </header>

    <!-- (QUESTIONS / ANSWERS) -->
    <div class="faq-list" role="list">
      @for (item of faqs; track item.pregunta; let i = $index) {
        <div class="faq-item" [class.active]="item.isOpen" role="listitem">
          <button
            type="button"
            class="faq-question"
            (click)="toggleFaq(i)"
            [attr.aria-expanded]="item.isOpen"
            [attr.aria-controls]="'faq-answer-' + i"
          >
            <span class="question-text">{{ item.pregunta }}</span>

            <!-- DINAMIC MENU-->
            <span class="icon-wrapper" aria-hidden="true">
              <span class="icon-symbol">{{ item.isOpen ? '-' : '+' }}</span>
            </span>
          </button>

          <!-- CONTENT -->
          @if (item.isOpen) {
            <div class="faq-answer" [id]="'faq-answer-' + i" role="region">
              <div class="answer-content">
                <p>{{ item.respuesta }}</p>
              </div>
            </div>
          }
        </div>
      } @empty {
        <!-- STATE -->
        <div class="empty-msg-container">
          <p class="empty-msg">No hay preguntas disponibles por el momento.</p>
        </div>
      }
    </div>
  </div>
</section>
